.backdrop {
    position: fixed;
    top: 0;;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(76, 73, 66);
    opacity: 0.75;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    // height: 300px;
    padding: 15px;
    background-color: white;

}

.btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: 800;
}

.modal-title {
    margin: 0;
    margin-bottom: 20px;
text-align: center;
text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
    margin: 0 auto;
    // outline: 1px solid red;
}

input {
    margin-left: 10px;
}

input::placeholder {
    font-size: 12px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(58, 57, 57);
}

.username-label,
.email-label,
.password-label {
    margin-bottom: 15px;
    font-weight: 600;
}



// .btns {
//     width: 300px;
//     display: flex;
//     justify-content: center;
// }



// .btn {
//     margin-right: 10px;
// }