

h1 {
    color: tomato;
}

.header {
    border: 1px solid black;
    width: 60vw;
    margin-bottom: 20px;   
}

.header-title  {
    font-size: 26px;
    margin: 0;
}

.container {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-container {
    width: 300px;
    min-height: 50px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.auth-greeting {
    margin: 0;
    margin-bottom: 5px;
}

.auth-username {
    font-weight: 500;
    font-style: italic;
    color: blue;
}


.auth-container > div {
margin-bottom: 5px;
}
.auth-login, .auth-register {
    border: 1px solid gray;
    padding: 1px;
    background-color: beige;
    cursor: pointer;

}

