
<section>
    <div class="backdrop visually-hidden">
        <div class="modal-container">
            <button type="button" class="btn-close">X</button>
            <h2 class="modal-title">Registration form</h2>
            <form class="form">
                <label class="username-label">Username:
                    <input class="username-input" type="text" name="username" placeholder="Enter your name" minlength="1">
                </label>
                <label class="email-label">Email:
                    <input class="email-input" type="email" name="email" placeholder="Enter email">
                </label>
                <label class="password-label">Password:
                    <input class="password-input" type="password" name="password" minlength="6" placeholder="Enter password">
                </label>
                <button class="form-submit" type="submit">Apply</button>
               
            </form>
          
        </div>
    </div>

    </div>
</section>