<h1>Firebase</h1>

<header class="header">
    <div class="container">
        <h2 class="header-title">Filmoteka</h2>
        <div class="auth-container">
            <p>Hi, <span class="auth-username">Anonymous</span></p>
            <p><span class="auth-login">Log in</span> or, <span class="auth-register">Register</span></p>

        </div>
    </div>
</header>

<form class="form">
    <label class="email-label">Email:
        <input class="email-input" type="email" name="email">
    </label>
    <label class="password-label">Password:
        <input class="password-input" type="password" name="password" minlength="6">
    </label>
    <button class="submit" type="submit">Submit</button>
    <button type="button" class="signOut">SignOut</button>
</form>
<div class="btns">
    <button type="button" class="btn get">GET</button>
    <button type="button" class="btn post">POST</button>
    <button type="button" class="btn del">DELETE</button>
</div>